/* https://uicolors.app/create
#282c3e
*/
html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* sets base font size to 10px */
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --dark: #282c3e;
  --extra-medium: #3d4567;
  --medium: #5e6c99;
  --light: #abb3ce;
  --extra-light: #ebecf3;
  --lightest: #f5f6fa;
  --medium-gray: #d0d0d0;
  --dark-gray: rgb(160, 160, 160);
}

body {
  font-family: "Roboto Slab", "Times New Roman", Times, serif;
  height: 100vh;
  display: grid;
  grid-template: 9rem 5fr 5rem/ 30rem 2fr;
  grid-template-areas:
    "header header"
    "nav main"
    "footer footer";
}

header,
footer,
footer i {
  color: white;
}

ul {
  list-style: none;
}
header {
  background-color: var(--extra-medium);
  grid-area: header;
  font-size: 5rem;
  padding: 2rem;
  gap: 2rem;
  display: flex;
  align-items: center;
}

header,
.sidebar,
.projects,
.project,
footer,
.modal-sidebar ul {
  display: flex;
}

.sidebar,
.modal-sidebar {
  background-color: var(--extra-light);
  grid-area: nav;
  flex-direction: column;
  padding: 2rem 3rem;
  gap: 2rem;
}

.sidebar h2 {
  font-size: 3rem;
}

#add {
  font-size: 3.5rem;
  display: flex;
  padding: 1rem 2rem;
  align-items: center;
  justify-content: space-between;
  width: 7rem;
  height: 7rem;
  border-radius: 5rem;
  background-color: var(--light);
  cursor: pointer;
  box-shadow: 0.2rem 0.5rem 1rem rgba(0, 0, 0, 0.4);
}

#add {
  margin-top: auto;
}

.projects {
  flex-direction: column;
  gap: 1rem;
  height: 30rem;
  overflow: auto;
  overflow-x: hidden;
}

.project,
#home {
  gap: 1rem;
  padding: 1rem 2rem;
  font-size: 1.65rem;
}

.project .delete {
  margin-left: auto;
  display: none;
}

.selected,
.project:hover,
#home:hover,
.selected,
.modal-item:hover {
  background-color: var(--light);
  border-radius: 1rem;
  cursor: pointer;
}

.project:active,
#home:active,
#add:active {
  background-color: var(--medium);
}

.project:hover .delete {
  display: block;
}

/* Add Window Modal */
.modal {
  display: unset; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding: 10rem; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */

.modal-content {
  display: grid;
  grid-template: 5rem 1fr/ 20rem 1fr;
  grid-template-areas:
    "header header"
    "nav main";
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  width: 110rem;
  height: 50rem;
  border-radius: 1rem;
  transition: 02s ease-in-out;
}

.modal-content header {
  font-size: 2rem;
  grid-area: header;
}

.modal-content .close {
  font-size: 4rem;
  margin-left: auto;
  cursor: pointer;
  color: white;
}

.modal-sidebar ul {
  font-size: 2rem;
  flex-direction: column;
  gap: 3rem;
}

.modal-item {
  padding: 1rem 2rem;
}

.modal-content .close:hover {
  color: black;
}

@keyframes zoomInModal {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoomOutModal {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(0);
  }
}

.modalZoom {
  animation: zoomInModal 0.25s ease;
}

.modalZoomOut {
  animation: zoomOutModal 0.25s ease;
}

/* MAIN */

.main,
.modal-main {
  background-color: var(--lightest);
  grid-area: main;
}

/* Footer */

footer {
  background-color: var(--extra-medium);
  grid-area: footer;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  gap: 2rem;
}
